 html {
    color: black;
    font-family: sans-serif;
  }

  body {
    margin: 0;
    background: linear-gradient(rgb(36, 160, 218),white , rgb(95, 95, 212));
  }

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: goldenrod;
  }

  h1 {
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px;
  }